<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>RTFW-WebApp-Sample</title>
    </head>
    <body>
        <header>
            <h1>🌐 RTFW-WebApp-Sample</h1>
            <h2>Experimental WebApp with RTFW-http</h2>
        </header>

        <p>{{GREET_MSG}}</p>

        <p>✨ This webapp uses the RTFW-http implementation: <a href="https://github.com/RTFW-rs/rtfw-http-rs">https://github.com/RTFW-rs/rtfw-http-rs</a></p>
        <p>✨ Source code for this webapp: <a href="https://github.com/RTFW-rs/rtfw-webapp-sample-rs">https://github.com/RTFW-rs/rtfw-webapp-sample-rs</a></p>

        <p>Index:</p>
        <ul>
            <li>📋 <a href="/paste">/paste</a>: share text locally</li>
            <li>🎁 <a href="/send">/send</a>: upload/download files</li>
            <li>🔃 <a href="/mirror">/mirror</a>: easily inspect your request</li>
            <li>🐌 <a href="/slow">/slow</a>: test server multithreading</li>
        </ul>

        <img width="400" src="https://http.cat/200"/>
    </body>
</html>
