<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>RTFW-WebApp-Sample | Paste</title>
        <link rel="stylesheet" type="text/css" href="/main.css">
    </head>
    <body style="text-align: center">
        <header>
            <h1>Paste </h1>
            <h2>Easily share text on LAN</h2>
            <a id="link-go-home" href="/">/home </a>
        </header>

        <p>
            <!-- <button onclick="copyToClipboard()" disabled>Copy</button> -->
            <button onclick="savePaste()"> Save</button>
            <!-- <button onclick="scrollToBottom()"> Bottom </button> -->
            <button onclick="clearPaste()">Clear </button>
        </p>

        <p id="status">...</p>
        <p>
            <textarea id="text" name="text" rows="30" cols="100">{{PASTE}}</textarea> 
        <p/>

        <!-- <button onclick="scrollToTop()"> Top </button> -->
        <script src="/scripts/paste.js"></script>
    </body>
</html>
