<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>RTFW-WebApp-Sample | Paste</title>
    </head>
    <body>
        <header>
            <h1>📋 RTFW-WebApp-Sample | Paste</h1>
            <h2>Easily share text on LAN</h2>
            <p>
                <a href="/">🏠 GO HOME</a>
            </p>
        </header>

        <p>
            <button onclick="copyToClipboard()" disabled>Copy</button>
            <button onclick="savePaste()">Save</button>
            <button onclick="clearPaste()">Clear</button>
            <button onclick="scrollToBottom()">Bottom</button>
        </p>

        <p id="status">...</p>
        <p>
            <textarea id="text" name="text" rows="400" cols="100">{{PASTE}}</textarea> 
        <p/>

        <button onclick="scrollToTop()">Top</button>
    </body>

    <script>

    const textAreaEl = document.getElementById("text");
    const statusEl = document.getElementById("status");

    function scrollToTop() {
        window.scrollTo({ top: 0, behavior: 'smooth' });
    }

    function scrollToBottom() {
        window.scrollTo({ top: document.body.scrollHeight, behavior: 'smooth' });
    }

    function clearPaste() {
        const time = getTimeLabel();
        textAreaEl.value = "";
        statusEl.innerHTML = `[${time}] Data has been clared`
    }

    function copyToClipboard() {
        const time = getTimeLabel();
        textAreaEl.select();
        textAreaEl.setSelectionRange(0, 99999);

        navigator.clipboard.writeText(textAreaEl.value);
        statusEl.innerHTML = `[${time}] Data copied to clipboard`
    }

    function savePaste() {
        fetch('/paste', {
            method: 'POST',
            headers: {
                'Content-Type': 'text/plain'
            },
            body: textAreaEl.value
        })
            .then(response => response.json())
            .then(data => {
                const time = getTimeLabel();
                statusEl.innerHTML = `[${time}] ${data.message}`
            })
            .catch(error => {
                statusEl.innerHTML = `[${time}] ERROR: Failed to upload data to server: ` + error.message
            });
    }

    function getTimeLabel() {
        const now = new Date();
        const h = String(now.getHours()).padStart(2, '0');
        const m = String(now.getMinutes()).padStart(2, '0');
        const s = String(now.getSeconds()).padStart(2, '0');
        return `${h}:${m}:${s}`;
    }
    </script>
</html>
