<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>RTFW-WebApp-Sample | Send</title>
        <link rel="stylesheet" type="text/css" href="/main.css">
    </head>
    <body style="text-align: center;">
        <header>
            <h1>Send </h1>
            <h2>Easily share files on LAN</h2>
            <a id="link-go-home" href="/">/home </a>
        </header>

        <form id="file-upload-form">
            <input type="file" name="file-upload" id="file-upload">
            <!-- <label for="file-upload" class="file-upload-btn"> Choose File</label> -->
            <button type="submit"> Upload</button>
        </form>
        <p id="status">...</p>

        <div>
            <p>{{UPLOADED_FILES_TEXT}}</p>
            <ul id="file-list">
                {{FILES}}
            </ul>
        </div>

        <script src="/scripts/send.js"></script>
    </body>
</html>
